#myInput {
  background-image: url('/css/searchicon_v2.png');
  background-position: 10px 8px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 8px 4px 8px 39px;
  border: 2px solid #f2f2f2;
  margin-bottom: 0px;
}

.nav-tabs>li.active>a {
  border: solid 2px #337ab7 !important;
  border-bottom-color: #337ab7;
}